.primary-color {
  background-image: linear-gradient(#42dcf4, #c6f7ff);
}

header {
  padding: 15px 5px;
  border-bottom: solid 1px #baf3fc;
  color: #1d626d;
}

.title-box {
  border: solid #1d626d 1px;
  padding:10px 10px;
  border-radius:2px;
  font-size:18px;
  margin-right:10px;
}

.no-select {
 -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

button:focus, button:active, input:focus, input:active, select:focus, select:active {
    box-shadow:none;
    outline:none;
}

#github-link {
    display:inline-block;
    opacity:0.7;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    transition: opacity .2s;
}

#github-link:hover {
    opacity:1;
}


#github-link img {
    height:25px;
    position:relative;
    top:-2px;
}

.top-bar-input, .top-bar-button {
    position:relative;
    box-shadow:none;
    background:none;
    padding:10px;
    border:0;
}

.top-bar-button {
    width:40px;
    -webkit-transition: color .2s, border-color .2s;
    -moz-transition: color .2s, border-color .2s;
    transition: color .2s, border-color .2s;
}

.top-bar-input {
    position:relative;
    top:-3px;
    text-align:center;
    padding-right:0;
}

.top-bar-input, .top-bar-button {
/*     border-right:solid 1px #1d626d; */
    height:100%;
}

.divider {
    border-right:solid 1px #1d626d;
    height:40px;
    display:inline-block;
    top:0px;
    position:absolute;
}

.top-bar-input-group:last-child .top-bar-input {
    border:0;
}

.top-bar-button:last-child {
    border:0;
}

.top-bar-button:hover {
    border-color: black;
    color: black;
}

.top-bar-input-group {
    position:relative;
}

.top-bar-input-group span {
    position:absolute;
    font-size:8px;
    top:15px;
}

#tempo-label {
    left:15px;
}

#scale-label {
    left:30px;
}

#key-label {
    left:17px;
}

.control-panel {
    border-radius:2px;
    display: inline-block;
    border:solid 1px #1d626d;
    color: #1d626d;
    top:-1px;
    height: 41px;
    position:relative;
    margin-right:10px;
}

.track {
    background:#eafbff;
    border:solid 1px #1d626d;
    border-radius:3px;
    padding:5px;
    margin:10px 0;
}

.control-bar {
    padding: 5px 20px;
    color: #1d626d;
    font-size:12px;
    background:#42dcf4;
    border-top:solid 1px #1d626d;
    border-bottom:solid 1px #1d626d;
    /* background:linear-gradient(#42dcf4, #35acbf); */
}

.control-bar-button {
    background:#c6f7ff;
    border: solid #1d626d 1px;
    border-radius:2px;
    padding:5px 10px;
}
