#application-wrapper {
    /* background:linear-gradient(#005f70, #008fa8); */
    background:#a5f2ff;
}

.primary-color {
/*   background-image: linear-gradient(#42dcf4, #c6f7ff); */
    background: linear-gradient(#42dcf4, #56e1f7);
}

header {
  padding: 15px 5px;
/*   border-bottom: solid 1px #baf3fc; */
  color: #1d626d;
  width:100%;
}

header, .control-bar {
    position:fixed;
    z-index:3;
}

.title-box {
  border: solid #1d626d 1px;
  padding:7px 15px;
  height:41px;
  border-radius:2px;
  font-size:18px;
  margin-right:10px;
  background:#75ebff;
  display:inline-block;
}

.no-select {
 -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

button:focus, button:active, input:focus, input:active, select:focus, select:active {
    box-shadow:none;
    outline:none;
}

#github-link {
    display:inline-block;
    opacity:0.7;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    transition: opacity .2s;
}

#github-link:hover {
    opacity:1;
}


#github-link img {
    height:25px;
    position:relative;
    top:-2px;
}

.top-bar-input, .top-bar-button {
    position:relative;
    box-shadow:none;
    background:none;
    padding:10px;
    border:0;
}

.top-bar-button {
    width:40px;
}

.top-bar-input {
    position:relative;
    top:-3px;
    text-align:center;
    padding-right:0;
    font-weight:500;
}

.top-bar-input, .top-bar-button {
/*     border-right:solid 1px #1d626d; */
    height:100%;
}

.divider {
/*     border-right:solid 1px #1d626d; */
    border-right:solid 1px #008fa8;
    height:40px;
    display:inline-block;
    top:0px;
    position:absolute;
}

.top-bar-input-group:last-child .top-bar-input {
    border:0;
}

.top-bar-button:last-child {
    border:0;
}

.top-bar-input-group {
    position:relative;
}

.top-bar-input-group span {
    position:absolute;
    font-size:8px;
    top:15px;
/*     font-weight:bold; */
    letter-spacing: 1px;
}

#tempo-label {
    left:14px;
}

#scale-label {
    left:27px;
}

#key-label {
    left:14px;
}

.control-panel {
    border-radius:2px;
    display: inline-block;
    border:solid 1px #1d626d;
    color: #1d626d;
    top:-1px;
    height: 41px;
    position:relative;
    margin-right:10px;
    background:#75ebff;
}

.control-bar {
    padding: 7px 20px;
    color: #1d626d;
    font-size:12px;
/*     background:linear-gradient(#008fa8, #019bb7); */
    background: linear-gradient(#009ab5, #019bb7);
    border-top:solid 1px #1d626d;
    border-bottom:solid 1px #1d626d;
    width:100%;
    top:71px;
}

.header-space {
    height:116px;
}

.control-bar-button {
    border: solid black 1px;
    border-radius:2px;
    padding:5px 10px;
    color:white;
    background:#006e82;
    transition:color .2s, border-color .2s;
    -webkit-transition:color .2s, border-color .2s;
    -moz-transition:color .2s, border-color .2s;
}

.control-bar-button:hover {
    border-color:white;
}

.bottom-space {
    height:350px;
}
