<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
<div class="container-fluid">
    <header class="row primary-color">
        <div class="col text-left">
            <span class='title-box no-select'>
                <a id='github-link' href="https://github.com/ZakirG/generative-daw" target="_blank">
                  <img src="/assets/GitHub-Mark.png">
                </a>
                Generative<b>DAW</b>
            </span>
            <form [formGroup]='controlPanelForm' (change)='updateConfigState()' style='display:inline-block'>
                <div class='control-panel'>
                    <button id='play-button' class='top-bar-button' (click)="togglePlayState()">
                        <span class='glyphicon' [class.glyphicon-play]="!configDataService.inPlayState" [class.glyphicon-pause]="configDataService.inPlayState"></span>
                    </button>
                    <span class='divider'></span>
                    <span class='top-bar-input-group'>
                        <input class='top-bar-input' type='number' max='500' id='tempo' style='width:50px;' formControlName="tempo"/>
                        <span id='tempo-label' class='no-select'>BPM</span>
                    </span>
                    <span class='divider'></span>
                    <span class='top-bar-input-group'>
                        <select name="key" style="text-align-last:center;width:50px"  class='top-bar-input' formControlName='key'>
                            <option *ngFor="let key of configDataService.keys" [ngValue]="key">
                                {{ key }}
                            </option>
                        </select>
                        <span id='key-label' class='no-select'>KEY</span>
                    </span>
                    <span class='divider'></span>
                    <span class='top-bar-input-group'>
                        <select name="scale" style="text-align-last:center;" class='top-bar-input' formControlName='scale'>
                            <option *ngFor="let scale of configDataService.scales" [ngValue]="scale">
                                {{ scale.name }}
                            </option>
                        </select>
                        <span id='scale-label' class='no-select'>SCALE</span>
                    </span>
                </div>
            </form>
        </div>
        <div class="row secondary-color" id="control-bar">
            <div class="col-sm-6"></div>
            <div class="col-sm-6"></div>
        </div>
    </header>
    <div class='row control-bar'>
        <button id='add-track-button' class='control-bar-button' (click)="addTrack()">
            <span class='glyphicon glyphicon-plus'></span> NEW TRACK
        </button>
    </div>
    <piano-roll
        (noteDrawn)="registerNoteDrawn($event)"
        (trackChange)="registerTrackChange($event)"
        [key]="configDataService.key"
        [scale]="configDataService.scale.name"></piano-roll>
    <template #newPianoRoll></template>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
