<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
<div [ngClass]="{ 'load-spinner' : true, 'spinner-hidden': pageLoaded, 'spinner-gone': pageReady } "></div>
<div class="container-fluid" id="application-wrapper">
    <div class="row primary-color" id="top-toolbar">
        <button mat-button id="File" [matMenuTriggerFor]="filemenu">File</button>
    </div>
    <mat-menu #filemenu="matMenu" id='file-menu' class='toolbar-menu'>
        <button mat-menu-item (click)="exportToMidi()">
          <mat-icon>music_note</mat-icon>
          <span>Export to MIDI</span>
        </button>
    </mat-menu>
    <header class="row primary-color">
        <div class="col-4 text-left">
            <span class='title-box no-select'>
                <a id='github-link' href="https://github.com/ZakirG/generative-daw" target="_blank">
                  <img src="/assets/GitHub-Mark.png">
                </a>
                Generative<b>DAW</b>
            </span>
        </div>
        <div class="col text-left">
            <form [formGroup]='controlPanelForm' id='control-panel-form' (change)='updateConfigState()' style='display:inline-block'>
                <div class='control-panel'>
                    <button id='play-button' class='top-bar-button' (click)="togglePlayState()">
                        <span class='glyphicon' [class.glyphicon-play]="!configDataService.inPlayState" [class.glyphicon-pause]="configDataService.inPlayState"></span>
                    </button>
                    <span class='divider'></span>
                    <span class='top-bar-input-group'>
                        <input class='top-bar-input' type='number' max='500' id='tempo' style='width:50px;' formControlName="tempo"/>
                        <span id='tempo-label' class='no-select'>BPM</span>
                    </span>
                    <span class='divider'></span>
                    <span class='top-bar-input-group'>
                        <select name="key" style="text-align-last:center;width:50px"  class='top-bar-input' formControlName='key'>
                            <option *ngFor="let key of configDataService.keys" [ngValue]="key">
                                {{ key }}
                            </option>
                        </select>
                        <span id='key-label' class='no-select'>KEY</span>
                    </span>
                    <span class='divider'></span>
                    <span class='top-bar-input-group'>
                        <select name="scale" style="text-align-last:center;" class='top-bar-input' formControlName='scale'>
                            <option *ngFor="let scale of configDataService.scales" [ngValue]="scale">
                                {{ scale.name }}
                            </option>
                        </select>
                        <span id='scale-label' class='no-select'>SCALE</span>
                    </span>
                </div>
            </form>
        </div>
        <div class="col tex-left">
            <button class="glyphicon-button" id="logs-button" (click)="showLogs = !showLogs">
                <span class='glyphicon glyphicon-inbox'></span>
            </button>
        </div>
    </header>
    <div class='row control-bar'>
        <button id='add-track-button' class='control-bar-button' (click)="addTrack()">
            <span class='glyphicon glyphicon-plus'></span> ADD TRACK
        </button>
    </div>
    <div class='logs-wrapper' *ngIf='showLogs'>
        <div class='panel-header'>
            <span class='panel-title'>Logging Outputs</span>
            <button class='glyphicon-button' id='logs-clear-button' (click)="appLogs = []">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
            <button class='glyphicon-button' id='logs-close-button' (click)="showLogs = false">
                <span class="glyphicon glyphicon-eye-close"></span>
            </button>
        </div>
        <div class='panel-body'>
            <span class='app-log-line' *ngFor="let line of appLogs">
                {{ line }}
            </span>
        </div>
    </div>
    <div class='header-space'></div>
    <template #newTrack></template>
    <template #pianoRoll></template>
    <div class='bottom-space'></div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
