.piano-roll-wrapper {
    position:fixed;
    bottom:0;
    margin:0;
    border:0;
    border-top:solid 4px #1d626d;
    outline:solid 4px black;
    border-radius:0;
    padding:0;
    resize:vertical;
    overflow:hidden;
    height:240px;
}

.piano-roll-wrapper .row {
    width:100%;
}

.resize-drag {
  box-sizing: border-box;
}

button:focus, button:active, input:focus, input:active {
    box-shadow:none;
    outline:none;
}

button[disabled] {
    opacity:0.7;
    cursor:no-select;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.piano-roll-col {
    padding:0;
    height:100%;
    background:#eafbff;
}


.piano-roll {
    padding:0;
    margin: 0;
    border-left:0;
    border-right:0;
    overflow-y: scroll;
    height:100%;
}

.piano {
    width:70px;
    padding:0;

}

.note-grid {
    width:100%;
    padding-left:0;
}

.piano-keys {
    border-radius:2px;
    height:auto;
    width:100%;
}

ul {
    list-style: none;
}

.piano-key-set {
    width:100%;
    padding:0;
    margin:0;
    border:solid 1px black;
    border-radius:0;
    overflow:hidden;
}

.piano-key-set .white {
    background: linear-gradient(white, #f9fafc);;
    border-bottom: solid 1px #00869e;
    width:100%;
    z-index:0;
    position:relative;
    /* border-radius:0px 4px 4px 0px; */
    height:24px;
}

.piano-key-set .white:last-child {
    border:0;
}

.piano-key-set .black {
    background: #00869e;
    margin-top:-8px;
    margin-bottom:-8px;
    width:50%;
    z-index:1;
    position:relative;
    border-radius:0px 3px 3px 0px;
    height:16px;
}

span.note-label {
    font-weight:bold;
    width:100%;
    padding-right:5px;
    font-size:12px;
    text-align:right;
    display:inline-block;
    opacity:0;
    color:#00869e;
}

/*Only label the C keys*/
span.note-label[data-note='C'] {
    opacity:1;
}

.note-rows {
    padding:0;
    border-bottom: solid 1px #a5f2ff;
    border-right: solid 1px #a5f2ff;
    border-radius: 0;
    overflow:hidden;
    margin:0;
}

.note-rows li {
    border-top: solid 1px #a5f2ff;
    width:100%;
}

.note-rows li.white {
    background:#eafbff;
}

.note-rows li {
    height:14px;
}

.note-rows li.black {
    background:#c6f7ff;
}

.note-rows li.black .grid-state {
    top:-4px;
    position:relative;
}

.grid-state-wrapper {
    top:-1px;
    position:relative;
    display:inline-block;
    border-left: solid 1px white;
    border-right: solid 1px white;
    height:100%;
    cursor:pointer;
    margin:0;
}

.grid-state-wrapper input {
    opacity:0;
    position:absolute;
    height:0;
    width:0;
    margin:0;
    padding:0;
    top:0;
}

.grid-state-wrapper[data-active='true'] {
    background:#00b2ce;
    border:solid 1px #00889e;
}

.grid-state-wrapper hr {
    opacity:0;
    width:80%;
    padding-left:10%;
    height:1px;
    margin:auto;
    margin:0;
}

.grid-state-wrapper[data-active='true'] hr {
    color:white;
    opacity:1;
    position:relative;
    top:5px;
    left:3px;
}

.note-rows li.white .grid-state-wrapper {
    top:-3px;
    position:relative;
}

.generation-modal.modal {
    background: rgba(0,0,0,0.4);
}

.generation-modal .modal-dialog {
    margin-top:10px;
}

.generation-modal .modal-content {
    position:absolute;
    width:650px;
    max-height: 680px;
    overflow-y: scroll;
}

.generation-modal .modal-body {
    font-size:12px;
    padding-bottom: 35px;
}

.generation-modal input, .generation-modal select {
    display:inline-block;
    margin:0 5px 3px 5px;
    height: 28px !important;
    border-radius:3px;
    font-size:12px;
}

.form-label {
    margin-bottom:3px;
    height:30px;
    padding-top:5px;
}

/* .form-label-text {
    padding-top:9px;
} */

.custom-radio-button, .custom-checkbox, .form-label {
    display: block;
    position: relative;
    font-weight:normal;
}

.custom-radio-button, .custom-checkbox {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 20px;
}

.custom-checkbox {
    height: 26px;
}

/* Hide the browser's default radio button */
.custom-radio-button input, .custom-checkbox input {
    position: absolute;
    opacity: 0;
}

/* Create a custom radio button */
.radio {
    margin:0;
    position: absolute;
    top: 6px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
}

/* Create a custom checkbox */
.checkmark {
    margin:0 5px 5px 7px;
    position: absolute;
    top: 2px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    margin-bottom:19px;
    margin-top:7px;
}

/* On mouse-over, add a grey background color */
.custom-radio-button:hover input ~ .radio, .custom-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.custom-radio-button input:checked ~ .radio, .custom-checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio:after, .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.custom-radio-button input:checked ~ .radio:after, .custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.custom-radio-button .radio:after {
    top: 4px;
    left: 4px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
}

/* Style the radio/indicator */
.custom-checkbox .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.piano-roll-left-pane {
    background:linear-gradient(#008fa8, #019bb7);
    border-radius:0;
    padding:0 5px;
}

.piano-roll-track-msg {
    width:100%;
    display:inline-block;
    padding:10px 5px;
    color:white;
    user-select:none;
}

.action-button {
    border: solid black 1px;
    color:white;
    padding:5px 10px;
    border-radius:2px;
    font-size:12px;
    margin:10px 10px 0 5px;
    width:99px;
    background:#006e82;
    transition:color .2s, border-color .2s;
    -webkit-transition:color .2s, border-color .2s;
    -moz-transition:color .2s, border-color .2s;
}

.action-button:hover {
    border-color: white;
}

label.disabled {
    opacity: 0.8;
}

.help-icon {
    color: #2196F3;
    cursor: pointer;
}

.piano-roll-input-group {
    padding-left:5px;
    margin-top:15px;
    color:black;
}

.piano-roll-input-group input {
    width: 80px;
    height:30px;
}

.generation-modal-collapsible {
    margin:0;
    padding:0;
}

.generation-modal-collapsible-btn {
    border: 0;
    background: none;
    padding: 10px 0;
    margin-top:10px;
    font-size:13px;
    font-weight:500;
    display:block;
    border-bottom: solid 1px pink;
    width: 100%;
    text-align: left;
}

.generation-modal-collapsible-btn:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    position:relative;
    top:2px;
}

.generation-modal-collapsible-btn.collapsed:after {
    font-family: 'Glyphicons Halflings';
    content: "\e080";
    position:relative;
    top:3px;
}