<div class="row piano-roll">
    <div class="col-1 piano">
        <div class='piano-keys'>
            <ul class="piano-key-set">
                <li *ngFor="let note of notes"
                class="{{ note.color }} {{ note.note }}" attr.data-octave="{{ note.octave }}"></li>
            </ul>
        </div>
    </div>
    <div class='col note-grid'>
        <ul class='note-rows'>
            <li *ngFor="let note of gridState"
                class="{{ note.color }} {{ note.note }}" attr.data-octave="{{ note.octave }}">
                <span class='grid-state'
                    *ngFor="let state of note.timeStates" [style.width]="note.stateWidth"
                    attr.data-active="{{ state }}"></span>

            </li>
        </ul>
     </div>
</div>
