button:focus, button:active, input:focus, input:active {
    box-shadow:none;
    outline:none;
}

.action-button {
    background:#c6f7ff;
    border: solid #1d626d 1px;
    color:#1d626d;
    padding:5px 10px;
    border-radius:2px;
    font-size:12px;
    margin:10px 10px 0 5px;
    transition:color .2s, border-color .2s;
    -webkit-transition:color .2s, border-color .2s;
    -moz-transition:color .2s, border-color .2s;
}

.action-button:hover {
    border-color: black;
    color: black;
}

.piano-roll {
    padding:0 5px;
    margin: 10px 0px;
    border: #e6e6e6;
    border-left:0;
    border-right:0;
}

.piano {
    width:70px;
    padding:0;

}

.note-grid {
    width:100%;
    padding-left:0;
}

.piano-keys {
    border-radius:2px;
    height:auto;
    width:100%;
}

ul {
    list-style: none;
}

.piano-key-set {
    width:100%;
    padding:0;
    margin:0;
    border:solid 1px black;
    border-radius:5px 0 0 5px;
    overflow:hidden;
}

.piano-key-set .white {
    background: white;
    border-bottom: solid 1px #00869e;
    width:100%;
    z-index:0;
    position:relative;
    /* border-radius:0px 4px 4px 0px; */
    height:24px;
}

.piano-key-set .white:last-child {
    border:0;
}

.piano-key-set .black {
    background: #00869e;
    margin-top:-8px;
    margin-bottom:-8px;
    width:50%;
    z-index:1;
    position:relative;
    border-radius:0px 5px 5px 0px;
    height:16px;
}

.note-rows {
    padding:0;
    border-bottom: solid 1px #a5f2ff;
    border-right: solid 1px #a5f2ff;
    border-radius: 0 5px 5px 0;
    overflow:hidden;
}

.note-rows li {
    border-top: solid 1px #a5f2ff;
    width:100%;
}

.note-rows li.white {
    background:#eafbff;
}

.note-rows li.a, .note-rows li.g, .note-rows li.d {
    height:14px;
}

.note-rows li.b, .note-rows li.f {
    height:14px;
}

.note-rows li.c, .note-rows li.e {
    height:14px;
}

.note-rows li.black {
    height:14px;
    background:#c6f7ff;
}

.note-rows li.black .grid-state {
    top:-4px;
    position:relative;
}

.grid-state-wrapper {
    top:-1px;
    position:relative;
    display:inline-block;
    border-left: solid 1px white;
    border-right: solid 1px white;
    height:100%;
    cursor:pointer;
    margin:0;
}

.grid-state-wrapper input {
    opacity:0;
    position:absolute;
    height:0;
    width:0;
    margin:0;
    padding:0;
    top:0;
}

.grid-state-wrapper[data-active='true'] {
    background:#00b2ce;
    border:solid 1px #00889e;
}

.grid-state-wrapper hr {
    opacity:0;
    width:80%;
    height:1px;
    margin:0;
    padding:0;
}

.grid-state-wrapper[data-active='true'] hr {
    color:white;
    opacity:1;
    position:relative;
    top:5px;
    left:3px;
}

.note-rows li.white .grid-state-wrapper {
    top:-3px;
    position:relative;
}

.modal {
    background: rgba(0,0,0,0.4);
}

.modal-content {
    top:70px;
}

.custom-radio-button {
  display: block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight:normal;
}

/* Hide the browser's default radio button */
.custom-radio-button input {
  position: absolute;
  opacity: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.custom-radio-button:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.custom-radio-button input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.custom-radio-button input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.custom-radio-button .checkmark:after {
  top: 4px;
  left: 4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}

