<div class="modal fade generation-modal" [id]="'generationModal' + trackNumber" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Configure generation</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                     <form #generationForm="ngForm">
                        <span class='form-label'>What would you like to generate?</span>
                        <label class="custom-radio-button form-label">A chord progression
                            <input [(ngModel)]="generationType" type="radio" value="chords" name="generationType">
                            <span class="radio"></span>
                        </label>

                        <label class="custom-radio-button form-label">
                            <input [(ngModel)]="generationType" type="radio" value="melody" name="generationType">A melody
                            <span class="radio"></span>
                        </label>
                        <hr/>
                        <div class='row'>
                            <div class='col-6'>
                                <label class="form-label form-label-text">
                                    Generate notes in
                                </label>
                                
                                <label class='form-label form-label-text' style='display:inline-block;margin-right:15px;'>
                                    Allowed octaves
                                </label>
                            </div>
                            <div class='col-6'>
                                <select name="key" style="text-align-last:center;width:70px;display:inline-block"  class='form-control' [ngModel]="configDataService.key" >
                                    <option *ngFor="let key of configDataService.keys" [ngValue]="key">
                                        {{ key }}
                                    </option>
                                </select>
                                <select name="scale" style="text-align-last:center;width:190px; display:inline-block" class='form-control' [ngModel]="configDataService.scale">
                                    <option *ngFor="let scale of configDataService.scales" [ngValue]="scale">
                                        {{ scale.name }}
                                    </option>
                                </select>

                                <label class='form-label' style='display:inline-block;margin-right:15px;'>
                                    <input class='form-control' style='width:70px; display:inline-block' [(ngModel)]="octaveLowerBound" type="number" name="octaveLowerBound">
                                    thru
                                    <input class='form-control' style='width:70px; display:inline-block' [(ngModel)]="octaveUpperBound" type="number" name="octaveUpperBound">
                                </label>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-6'>
                                <label class='form-label form-label-text' style='display:inline-block;margin-right:15px;' *ngIf="generationType == 'chords'">
                                    Chords may contain between
                                </label>

                                <label class='form-label form-label-text' style='display:inline-block;margin-right:15px;'>
                                    Disallow consecutive <span *ngIf="generationType == 'melody'">note</span> <span *ngIf="generationType == 'chords'">chord</span> repeats
                                </label>

                                
                            </div>
                            <div class='col-6'>
                                <label class='form-label form-label-text' style='display:inline-block;margin-right:15px;' *ngIf="generationType == 'chords'">
                                    <input class='form-control' [(ngModel)]="chordSizeLowerBound" type="number" name="chordSizeLowerBound" style='width:70px; display:inline-block' >
                                    and 
                                    <input class='form-control' [(ngModel)]="chordSizeUpperBound" type="number" name="chordSizeUpperBound" style='width:70px; display:inline-block' >
                                    notes
                                </label>
                                <br *ngIf="generationType == 'chords'"/>
                                <label class='custom-checkbox' style='display:block;margin-right:15px;'>
                                    <input class='form-control' style='width:70px; display:inline-block' [(ngModel)]="disallowRepeats" type="checkbox" name="disallowRepeats">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <hr/>
                        <div class='row'>
                            <div class='col-8'>
                                <label class='form-label form-label-text' style='display:block;margin-right:15px;' *ngIf="generationType == 'chords'">
                                    Chance to use classical chord leading charts to choose follow-up chord
                                </label>

                                <label class='form-label form-label-text' style='display:block;margin-right:15px;' *ngIf="generationType == 'chords'">
                                    Chance to use chord voicing from a list of good voicings
                                </label>

                                <label class='form-label form-label-text' style='display:block;margin-right:15px;' *ngIf="generationType == 'chords'">
                                    Chance to allow arbitrary non-diatonic chord
                                </label>
                                <label class='form-label form-label-text' style='display:inline-block;margin-right:15px;' *ngIf="generationType == 'chords'">
                                    Chance to allow alt dominant chords with accidentals. (Stacks with non-diatonic chord probability)
                                 </label>

                                <label class='form-label form-label-text' style='display:block;margin-right:15px;' *ngIf="generationType == 'chords'">
                                    Chance to allow borrowed chord. (Does not stack with non-diatonic chord probability)
                                </label>

                                <!-- <label class='form-label form-label-text' style='display:inline-block;margin-right:15px;' *ngIf="generationType == 'chords'">
                                    Constrain V to be dominant 7 chords
                                     Allow dominant chords to contain accidentals from altered notes -->
                                <!-- </label> -->

                                
                            </div>
                            <div class='col-4'>
                                <label class='form-label' style='display:block;margin-right:15px;' *ngIf="generationType == 'chords'">
                                    <input class='form-control' [(ngModel)]="chanceToUseChordLeadingChart" type="number" name="chanceToUseChordLeadingChart" style='width:70px; display:inline-block' >
                                </label>
                                <label class='form-label' style='display:inline-block;margin-right:15px;' *ngIf="generationType == 'chords'">
                                    <input class='form-control' [(ngModel)]="chanceToUseCommonVoicing" type="number" name="chanceToUseCommonVoicing" style='width:70px; display:inline-block' >
                                </label>
                                <label class='form-label' style='display:block;margin-right:15px;' *ngIf="generationType == 'chords'">
                                    <input class='form-control' [(ngModel)]="chanceToAllowNonDiatonicChord" type="number" name="chanceToAllowNonDiatonicChord" style='width:70px; display:inline-block' >
                                </label>
                                <label class='form-label' style='display:block;margin-right:15px;' *ngIf="generationType == 'chords'">
                                    <input class='form-control' [(ngModel)]="chanceToAllowAlteredDominantChord" type="number" name="chanceToAllowAlteredDominantChord" style='width:70px; display:inline-block' >
                                </label>
                                <label class='form-label' style='display:block;margin-right:15px;' *ngIf="generationType == 'chords'">
                                    <input class='form-control' [(ngModel)]="chanceToAllowBorrowedChord" type="number" name="chanceToAllowBorrowedChord" style='width:70px; display:inline-block' >
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    <button type="button" (click)="generate(generationForm.value)" class="btn btn-success" data-dismiss="modal">Generate</button>
                </div>
            </div>
        </div>
    </div>

<div class='resize-container'>
    <nav class="navbar fixed-bottom navbar-light bg-light piano-roll-wrapper resize-drag">
        <div class='row' style='height:100%;'>
            <div class="col-2 piano-roll-left-pane">
                <span class='piano-roll-track-msg'>
                    Now editing <span *ngIf="trackNumber!=-1"><b>track {{ trackNumber + 1}}</b></span>
                    <span *ngIf="trackNumber==-1">N/A</span>
                </span>

                <button class="action-button" type="button" id="generate-button"
                    data-toggle="modal" [attr.data-target]="'#generationModal' + trackNumber "
                    [disabled]="trackNumber==-1">
                    <span class='glyphicon glyphicon-fire'></span>
                    GENERATE
                </button>

                <button class="action-button" id="clear-button"
                    (click)="clearPianoRoll()" [disabled]="trackNumber==-1">
                    <span class='glyphicon glyphicon-ban-circle'></span>
                    CLEAR
                </button>

                <div class='piano-roll-input-group'>
                    Roll notes in
                    <input class='form-control' type='number' value='0.01' max='10' min='0' step='0.01' id='playOffsetPerNoteDueToRoll' style='width:70px;display:inline-block' [(ngModel)]="this.configDataService.playOffsetPerNoteDueToRoll"/>
                    s
                </div>
            </div>
            <div class='col piano-roll-col'>
                <div class="row piano-roll">
                    <div class="col-1 piano">
                        <div class='piano-keys'>
                            <ul class="piano-key-set">
                                <li *ngFor="let note of notes"
                                class="{{ note.color }} {{ note.note }}" attr.data-octave="{{ note.octave }}"><span class='note-label' attr.data-note='{{ note.note.toUpperCase() }}'>{{ note.note.toUpperCase() + note.octave }}</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class='col note-grid'>
                        <ul class='note-rows'>
                            <li *ngFor="let note of gridState"
                                class="{{ note.color }} {{ note.note }}" attr.data-octave="{{ note.octave }}">
                                <label class="grid-state-wrapper"
                                    *ngFor="let state of note.timeStates; let index= index;"
                                    [style.width]="configDataService.stateWidth"
                                    attr.data-active="{{ note.timeStates[index] }}"
                                    [attr.id]="note.id"
                                    [attr.data-step]="index"
                                    >
                                    <hr/>
                                    <input class='grid-state' type='checkbox'
                                        attr.data-active="{{ state }}"
                                        [(ngModel)]="note.timeStates[index]"
                                        (change)="noteDrawnHandler(note.note, note.octave, note.timeStates[index])"
                                        >
                                </label>
                            </li>
                        </ul>
                     </div>
                </div>
            </div>
        </div>
    </nav>
</div>
