<div class='track' [class.track-selected]="thisTrackIsSelected">
    <div class='row'>
        <div class='col-2 track-controls' (click)="toggleRegionSelected()">
            <div class='track-header'>
                <span class='track-number'>{{ trackNumber + 1 }}.</span>
                <span class='track-name'>{{ trackName }}</span>
            </div>
        </div>

        <div class="col-9 region-preview">
            <div class='row piano-metadata'>
                    <div class='col chord-data' *ngIf="configDataService.dawState.chord_names[trackNumber]">
                        <span class='track-metadata-header'>Chords</span>: {{ configDataService.dawState.chord_degrees[trackNumber].toString().replaceAll(",", " -> ") }}
                        <br/>
                        <span class='track-metadata-header'>Notes used</span>: {{ configDataService.dawState.trackMetadata[trackNumber]['notesUsed']  }}
                        <br/>
                        <span class='track-metadata-header' *ngIf="importedFileName != ''">Imported from:</span> {{ importedFileName }}
                    </div>
            </div>
        </div>

        <div class='col-1 track-right-pane'>
            <button class="glyphicon-button delete-track-button" id="clear-button" (click)="deleteTrack()">
                <span class='glyphicon glyphicon-trash'></span>
            </button>
        </div>

    </div>
</div>
